.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 50;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 26px;
}

/* MENÚ DE NAVEGACIÓN*/
.navBarra {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    background-color: #AF6894;
    background: linear-gradient(45deg, #af6894, #db758f, #ffaa71, #fc8b81);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.navBarra div {
    align-items: center;
    display: flex;
    margin-right: 20px;
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin: 1px;
    padding: 5px;
}

.aBarra {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
}

.IconUser {
    height: 30px;
    width: 30px;
}

/* Cambia el color cuando se pasa el puntero */
.aBarra:hover {
    background-color: #ffffff;
    border-radius: 10px;
    color: #B08EA2;
}

.IconUser:hover {
    background-color: #AF6894;
    /* border-radius: 7px; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    color:#333333;
    line-height: 1.5;
}

/* Navigation */
.nav-bar {
    background-color: #AF6894;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 60px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    transition:  #AF6894 0.3s ease;
}


/* opcion de seleccionar en la barra de navegacion */
.aBarra.optionSelect {
    background-color: #ffffff;
    border-radius: 10px;
    color: #AF6894;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* linea actualizacion carpeta selector*/
.aBarra.optionSelect::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 139px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 0%;
}

/* Footer */
.footer {
    background: linear-gradient(45deg, #af6894, #db758f, #ffaa71, #fc8b81);
    padding: 2rem;
    margin-top: 3rem;
    color: white;
}
 
.footer-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    gap: 4rem;
}

.footer-logo {
    grid-column: 1;
}

.footer-logo-img {
    height: 180px;
}

.footer-info {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-info p {
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.6;
}

.footer-copyright {
    grid-column: 3;
    text-align: right;
    padding-left: 2rem;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
     margin-top: 3rem;
    color: white;
}

/* CSS pagina contactenos */

/* #FFFFFF-Blanco
#7FD7E3-Azul Claro
#70CAD1-Azul turquesa
#90ACBA-Azul Grisáceo
#B08EA2-Rosa Pastel Grisáceo */

/* contenedor padre contine los dos contenedores hijos */
.con-main-contactenos{
    /* border: 1px solid black; */
    margin: 20px 0px 0px 0px;
    padding: 20px;
    font-family:"Poppins", serif ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../Pictures/img_contactenos/psychologist.jpg);
    background-size: cover;
}
/* contenedor hijo contactenos */
.con-2{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #ffffff;
    opacity: 0.7;
}
/* contenedor hijo formulario */
.con-3{
    text-align: center;
    padding: 0px 40px 0px 40px;
    background: #ffffff;
    opacity: 0.8; 
}
  /* boton enviar */
.Buttons-patusalud{
width: 150px;
height: 60px;
border-radius: 35px;
font-family: "Poppins", serif;
font-weight: 500;
font-style:normal;
font-size: 20px;
color: #ffffff;
background: linear-gradient(45deg, #af6894, #db758f, #ffaa71, #fc8b81); ;
border: 3px solid #db758f;
opacity: 5;
}
.Buttons-patusalud:hover{
    color: #000000;
    background: #71cad1;
}
   
.titulos {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color: #AF6894;
}
 
.con-2 section{
   margin: 30px;
}
.con-3 section{
    margin: 40px;
 }
.con-redes-contactenos{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
}

.con-img-redes{
    display:flex;
    justify-content: space-between;
    padding: 10px 30px 30px 30px;
    gap: 15px;
 }

/* animación a las imágenes */
 @keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
 .img-redes{
   width: 50px;
   height: 50px;
   margin: 10px;
   animation: zoom 3s infinite;
 }

 /* campos del formulario */
 .inputDatos{
    display: block;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px ;
    width: 100%;
    background: #af6894;
    border: 1px solid #000000;
 }
 ::placeholder {
    color: #ffffff;
    opacity: 1;
    font-size: 18px;
}

/* aliniea el boton a la derecha */
 .con-3-buttom{
    display: flex;
    justify-content: right;
 }

/* Estilos para dispositivos extra pequeÃ±os (XS): Menos de 576px */
@media (max-width: 575.98px) {
    .con-main-contactenos{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-content: center;
        padding: 1px;
        gap: 20px;
        text-align: center;
    }
    .titulos {
        font-family: "Poppins", serif;
        font-weight: 200;
        font-style: normal;
        font-size: 35px;
        text-align: center;
    }
    .con-2{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        text-align: center;
        width: 98%;
        padding: 1px;
    }
    .con-2 section{
        margin-top: 10px;
     }
     .con-2 section p {
        font-size: 16px;
        text-align: center;
     }
     .img-redes{
        width: 10px;
        height: 10px;
      }
     .con-3{
        width: 98%;
        text-align: center;
        padding: 1px;
    }
     .con-3 section{
        margin-top: 30px;
     }
     .con-3-form{
        display: flexbox;
        justify-content: center; 
        align-items: center; 
     }
    .inputDatos{
        width: 100%px;
        font-size: 16px;
    }
    .Buttons-patusalud{
        width: 100px;
        height: 40px;
        font-size: 10px;
        }
    ::placeholder {
     color: #ffffff;
     opacity: 1;
     font-size: 16px;
    }
    .con-img-redes{
        display:flex;
        justify-content: space-between;
        padding: 10px;
        gap: 15px;
     }

     .iconos-contacto{
         width: 40px;
         height: 40px;
     }
  /* css para navBar  */
  .navBarra {
    display : grid;
    grid-template-columns: 2fr 1fr;
}
.navBarra div{
    display : grid;
    grid-template-columns:2fr 1fr;
}
.footer-content {
    display : flex;
    flex-wrap: wrap;
}

}

/* Estilos para dispositivos pequeÃ±os (S): 576px a 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
    .con-main-contactenos{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 30px;
    }
    .con-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-redes{
        width: 40px;
        height: 40px;
      }
    .inputDatos{
        width: 100%px;
    }
    .con-2{
        width: 95%;
    }
    .con-3{
        width: 95%;
    }
    .con-3-form{
        display: flexbox;
        justify-content: center; 
        align-items: center; 
     }
     .img-redes{
        width: 25px;
        height: 25px;
    }
    .Buttons-patusalud{
        width: 120px;
        height: 50px;
        font-size: 12px;
        }
    .iconos-contacto{
        width: 40px;
        height: 40px;
    }

 /* css para NavBarra y .footer */
 .navBarra {
    display : grid;
    grid-template-columns: 2fr 1fr;
}
.navBarra div{
    display : grid;
    grid-template-columns:2fr 1fr;
}
.footer-content {
    display : flex;
    flex-wrap: wrap;
}

}

/* Estilos para dispositivos medianos (M): 768px a 991px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .con-main-contactenos{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 20px;
    }
    .con-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .con-2 section p {
        font-size: 20px;
        text-align: center;
     }
    .img-redes{
        width: 40px;
        height: 40px;
      }
    .inputDatos{
        width: 100%px;
    }
    .con-2{
        width: 95%;
    }
    .con-3{
        width: 95%;
    }
    .con-3-form{
        display: flexbox;
        justify-content: center; 
        align-items: center; 
     }
     .img-redes{
        width: 25px;
        height: 25px;
    }

  /* css navBarra */
    .navBarra {
        display : flex;
    }
    .navBarra div{
        display :flex;
        justify-content: center;
    }
}

/* Estilos para dispositivos grandes (L): 992px a 1199px */ 
@media (min-width: 992px) and (max-width: 1199.98px) {
    .con-main-contactenos{
        display: flex;
        justify-content:space-between;
        gap: 10px;
    }

    .con-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    .img-redes{
        width: 40px;
        height: 40px;
      }
    .inputDatos{
        width: 100%px;
    }
    .con-3{
        width: 50%;
        padding: 1px;
    }
    .con-3-form{
        display: flexbox;
        justify-content: center; 
        align-items: center; 
     }
     .img-redes{
        width: 30px;
        height: 30px;
    }
    .con-info-contacto div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
     }
     .iconos-contacto{
         width: 20px;
         height: 20px;
         margin-right: 5px;
     }
}

/* Estilos para dispositivos extra grandes (XL): 1200px en adelante */
@media (min-width: 1200px) {
    .img-redes{
        width: 40px;
        height: 40px;
    }
    .con-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .con-2 section p {
        font-size: 20px;
        text-align: center;
     }
    .con-info-contacto div{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 10px;
    }
    .iconos-contacto{
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
}